@use '@/styles/variables';

.widgetAutocompleteContainer {
  @include variables.form-widget__container;
}

.widgetAutocompleteLabel {
  @include variables.form-widget__label;
}

.msgError {
  color: variables.$error;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
