@use '@/styles/variables';

.groupbyColumnsInput {
  margin-bottom: 20px;
}

.toremove {
  margin-bottom: 20px;
}

.keepOriginalGranularityCheckbox {
  margin-bottom: 10px;
}

.countNullsCheckbox {
  margin-bottom: 10px;
}
