@use '@/styles/variables';

.newColumnNameInput {
  margin-bottom: 20px;
}

.startDateColumnInput {
  margin-bottom: 20px;
}

.endDateColumnInput {
  margin-bottom: 20px;
}

.durationInInput {
  margin-bottom: 20px;
}
