@use '@/styles/variables';

.dateColumnInput {
  margin-bottom: 20px;
}

.valueColumnInput {
  margin-bottom: 20px;
}

.evolutionType {
  margin-bottom: 20px;
}

.evolutionFormat {
  margin-bottom: 20px;
}

.indexColumnsInput {
  margin-bottom: 20px;
}

.newColumnInput {
  margin-bottom: 20px;
}
