@use '@/styles/variables';

.valueColumnInput {
  margin-bottom: 20px;
}

.columnToSortInput {
  margin-bottom: 20px;
}

.movingWindowInput {
  margin-bottom: 20px;
}

.groupsInput {
  margin-bottom: 20px;
}

.newColumnNameInput {
  margin-bottom: 20px;
}
