@use '@/styles/variables';

.indexInput {
  margin-bottom: 20px;
}

.columnToPivotInput {
  margin-bottom: 20px;
}

.valueColumnInput {
  margin-bottom: 20px;
}

.aggregationFunctionInput {
  margin-bottom: 20px;
}
