@use '@/styles/variables';

.valueColInput {
  margin-bottom: 20px;
}

.orderInput {
  margin-bottom: 20px;
}

.methodInput {
  margin-bottom: 20px;
}

.groupbyInput {
  margin-bottom: 20px;
}

.newColumnNameInput {
  margin-bottom: 20px;
}
