@use '@/styles/variables';

.hierarchyColumnsInput {
  margin-bottom: 20px;
}

.aggregationsInput {
  margin-bottom: 20px;
}

.groupbyColumnsInput {
  margin-bottom: 20px;
}

.labelColumnInput {
  margin-bottom: 20px;
}

.levelColumnInput {
  margin-bottom: 20px;
}

.childLevelColumnInput {
  margin-bottom: 20px;
}

.parentColumnInput {
  margin-bottom: 20px;
}
