@use '@/styles/variables';

.limitInput {
  margin-bottom: 20px;
}

.rankOnInput {
  margin-bottom: 20px;
}

.sortOrderInput {
  margin-bottom: 20px;
}

.groupbyColumnsInput {
  margin-bottom: 20px;
}
