@use '@/styles/variables';

.valueColumnInput {
  margin-bottom: 20px;
}

.milestonesColumnInput {
  margin-bottom: 20px;
}

.startInput {
  margin-bottom: 20px;
}

.endInput {
  margin-bottom: 20px;
}

.childrenColumnInput {
  margin-bottom: 20px;
}

.parentsColumnInput {
  margin-bottom: 20px;
}

.groupbyInput {
  margin-bottom: 20px;
}

.sortByInput {
  margin-bottom: 20px;
}

.orderInput {
  margin-bottom: 20px;
}

.backfillCheckbox {
  margin-bottom: 20px;
}
